* {
    font-family:"Raleway";
  }
  body #notification-area
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #notification-area {
    position: fixed;
    top: -400px;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  #notification-area .notification {
    padding:15px 10px;
    background:#111;
    color:#f5f5f5;
    font-family:"Raleway";
    font-size:14px;
    font-weight:600;
    border-radius:5px;
    margin:5px 0px;
    opacity:0;
    animation:showNotification 500ms ease-in-out forwards;
  }
  @keyframes showNotification {
    to {
      opacity:1;
      left:0px;
    }
  }
  #notification-area .notification.success {
      color: #468847;
      background-color: #DFF0D8;
      border-color: #D6E9C6;
  }
  #notification-area .notification.error {
      color: #B94A48;
      background-color: #F2DEDE;
      border-color: #EED3D7;
  }
  #notification-area .notification.info {
      color: #C09853;
      background-color: #FCF8E3;
      border-color: #FBEED5;
  }