.style-switcher
{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open
{
    transform: translateX(-25px);
}
.style-switcher .s-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i
{
    line-height: 40px;
}
.s-icon:hover
{
    background-color: dimgrey;
    color: #ffffff;
    transform: scale(1.15);
}
.iconLogout
{
    color: var(--text-black-900);
}
.s-icon .iconLogout:hover
{
    color: #ffffff;
}
.style-switcher .style-switcher-toggler
{
    top: 0;
}
.style-switcher .day-night
{
    top: 55px;
}
.style-switcher h4
{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
}
.style-switcher .colors
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span
{
    display: none;
    /*display: inline-block;*/
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.closeSwitcher
{
    background: var(--bg-black-100);
    color: var(--text-black-900);
}
.perfil
{
    top: -60px;
    height: 59px;
    right: 199px;
}
#margin10px
{
    margin-top: -10px;
    margin-left: -10px;
}
/* Cores dos temas para destacar */
.style-switcher .color-1
{
    background: #37b182;
    cursor: pointer;
    display: none;
}
.style-switcher .color-2
{
    background: #fa5b0f;
    cursor: pointer;
    display: none;
}
.style-switcher .color-3
{
    background: #ec1839;
    cursor: pointer;
    display: none;
}
.style-switcher .color-4
{
    background: #1854b4;
    cursor: pointer;
    display: none;
}
.style-switcher .color-5
{
    background: #f021b2;
    cursor: pointer;
    display: none;
}
@media only screen 
    and (device-width : 280px) 
    and (device-height: 653px) 
{
    .style-switcher 
    {
        top: 20px;
    }
}